* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin sm-devices {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin md-devices {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg-devices {
  @media screen and (min-width: 992px) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  counter-reset: work-card;
}

.deprecation-notice {
  background-color: yellow;
  color: black;
  width: 100%;
  margin: 0rem 1rem;
  text-align: center;
  font-size: 1.25rem;
}

nav {
  transition: background-color 150ms ease-in-out;

  &.navbar {
    @include md-devices {
      padding: {
        top: 0 !important;
        bottom: 0 !important;
      }
    }
  }

  .navbar-brand {
    @include md-devices {
      padding: {
        top: 0.5em !important;
        bottom: 0.5em !important;
      }
    }

    .long-brand {
      font-size: 1rem;

      @include sm-devices {
        font-size: 1.25rem;
      }

      @include md-devices {
        font-size: 1rem;
      }

      @include lg-devices {
        font-size: 1.5rem;
      }
    }
  }

  .navbar-nav li {
    @include md-devices {
      padding: {
        top: 0.5em !important;
        bottom: 0.5em !important;
      }
    }

    &#li-contact {
      @include md-devices {
        background-color: hsl(255, 80%, 52%);
        transition: background-color 150ms ease-in-out;

        &:hover {
          background-color: hsl(255, 80%, 40%);
        }

        a.nav-link {
          color: white !important;
        }
      }
    }
  }
}

.nav-btn {
  width: 24px;
  height: 24px;
  float: right;

  .bar {
    background-color: hsla(212, 13%, 57%, 1);
    width: 100%;
    height: 3px;
    position: relative;
    transition: all 300ms ease-in-out;
  }

  .bar1 {
    @extend .bar;
    margin: {
      top: 2px;
      bottom: 3px;
    }
  }

  .bar2 {
    @extend .bar;
    width: 70%;
    margin-left: 30%;
  }
}

.navbar-toggler:not(.collapsed) {
  .bar1 {
    transform: translate(0, 5px) rotate(45deg);
  }

  .bar2 {
    width: 100%;
    margin-left: 0;
    transform: translate(0, -1px) rotate(-45deg);
  }
}

#header {
  padding-top: 7vh;

  img {
    width: 100%;

    @include md-devices {
      -webkit-animation: slide-right 1.2s ease-in-out;
      animation: slide-right 1.2s ease-in-out;
    }
  }

  #main-text {
    @include md-devices {
      -webkit-animation: slide-left 1.2s ease-in-out;
      animation: slide-left 1.2s ease-in-out;
    }

    h1 {
      @include md-devices {
        font-size: 2rem;
      }

      @include lg-devices {
        font-size: 2.5rem;
      }
    }

    p {
      @include md-devices {
        font-size: 0.8rem;
      }

      @include lg-devices {
        font-size: 1rem;
      }
    }
  }

  .container-fluid {
    @include md-devices {
      max-width: 500px;
    }
  }

  h1,
  p {
    background: hsla(240, 19%, 12%, 1);
  }

  @include md-devices {
    &::after {
      content: "";
      position: absolute;
      width: 60%;
      right: 0;
      top: 0;
      height: 57vw;
      background-color: hsl(240, 18%, 12%);
      z-index: -10;
      min-height: 480px;
    }
  }
}

@-webkit-keyframes slide-right {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-left {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

#experience,
#skills,
#articles,
#tutoring,
#projects,
#testimonials,
#contact {
  margin: {
    top: 5vh !important;
    bottom: 5vh !important;
  }

  @include sm-devices {
    margin: {
      top: 8vh !important;
      bottom: 8vh !important;
    }
  }

  @include md-devices {
    margin: {
      top: 16vh !important;
      bottom: 16vh !important;
    }
  }
}

.work-card::before {
  counter-increment: work-card;
  content: "0" counter(work-card);
  color: hsl(213, 13%, 57%);
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

#articles .article-card {
  background-color: hsl(240, 19%, 12%);

  img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
  }

  a {
    all: unset;
    color: hsl(255, 80%, 52%);
    font-weight: 700;
    border-radius: 15px;
    transition: box-shadow 10ms ease-in-out;
    cursor: pointer;
    display: inline-block;

    &:hover {
      box-shadow: 12px 12px 16px hsla(0, 0%, 0%, .3),
        -6px -6px 12px hsla(0, 0%, 100%, .05);
      background: linear-gradient(to bottom right, hsla(0, 0%, 100%, .02), hsla(0, 0%, 0%, .25));
    }

    &:active {
      background: linear-gradient(to top left, hsla(0, 0%, 100%, .05), hsla(0, 0%, 0%, .25));
    }
  }
}

#projects .project-card {
  background-color: hsl(240, 19%, 12%);

  img {
    width: 100%;
  }

  button {
    all: unset;
    color: hsl(255, 80%, 52%);
    font-weight: 700;
    border-radius: 15px;
    transition: box-shadow 10ms ease-in-out;

    &:hover {
      box-shadow: 12px 12px 16px hsla(0, 0%, 0%, .3),
        -6px -6px 12px hsla(0, 0%, 100%, .05);
      background: linear-gradient(to bottom right, hsla(0, 0%, 100%, .02), hsla(0, 0%, 0%, .25));
    }

    &:active {
      background: linear-gradient(to top left, hsla(0, 0%, 100%, .05), hsla(0, 0%, 0%, .25));
    }
  }
}

#skills {
  img[src$=".svg"] {
    width: 32px;
    height: 32px;
  }
}

#tutoring {
  background-color: lighten(#ff9892, 10%);

  img {
    width: 80%;
  }

  a {
    overflow: hidden;
    padding: .5em;
    transition: color 200ms ease-in-out;
    bottom: 2px;

    span.link-text {
      white-space: nowrap;
    }

    &:hover {
      text-decoration: none;

      span:not(.link-text) {
        background-color: white;

        &.line-1 {
          transform: translateX(-120%);
        }

        &.line-2 {
          transform: translateY(-20%);
        }

        &.line-3 {
          transform: translateY(100%);
        }
        
        &.line-4 {
          transform: translateX(-10%);
        }

        &.line-5 {
          transform: translateX(100%);
        }

        &.line-6 {
          transform: translateY(-20%);
        }

        &.line-7 {
          transform: translateY(-140%);
        }

        &.line-8 {
          transform: translateX(-5%);
        }
      }
    }

    span:not(.link-text) {
      background-color: black;

      &.line-1 {
        height: 2px;
        width: 120%;
        top: 0;
        transform: translateX(-50%);
        transition: transform 300ms ease-out,
          background-color 300ms ease-in-out;
      }

      &.line-2 {
        height: 120%;
        width: 2px;
        left: 0;
        transform: translateY(-70%);
        transition: transform 300ms ease-in 10ms,
        background-color 300ms ease-in-out;
      }

      &.line-3 {
        height: 100%;
        width: 2px;
        left: 0;
        transform: translateY(50%);
        transition: transform 300ms ease-out,
        background-color 300ms ease-in-out;
      }
      
      &.line-4 {
        height: 2px;
        width: 120%;
        bottom: 0;
        transform: translateX(-80%);
        transition: transform 300ms ease-in 10ms,
        background-color 300ms ease-in-out;
      }
      
      &.line-5 {
        height: 2px;
        width: 120%;
        bottom: 0;
        transform: translateX(30%);
        transition: transform 300ms ease-out,
        background-color 300ms ease-in-out;
      }

      &.line-6 {
        height: 120%;
        width: 2px;
        right: 0;
        transform: translateY(50%);
        transition: transform 300ms ease-out,
        background-color 300ms ease-in-out;
      }

      &.line-7 {
        height: 120%;
        width: 2px;
        right: 0;
        transform: translateY(-70%);
        transition: transform 300ms ease-in 10ms,
        background-color 300ms ease-in-out;
      }

      &.line-8 {
        width: 120%;
        height: 2px;
        top: 0;
        transform: translateX(65%);
        transition: transform 300ms ease-in 10ms,
        background-color 300ms ease-in-out;
      }
    }
  }
}

textarea {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
  border-radius: 0;
}

.ic {
  &-github {
    color: hsl(0, 0%, 100%);

    &:hover {
      color: hsl(0, 0%, 75%);
    }
  }

  &-linkedin {
    color: hsl(199, 85%, 36%);

    &:hover {
      color: hsl(199, 85%, 26%);
    }
  }

  &-telegram {
    color: hsl(200, 100%, 40%);

    &:hover {
      color: hsl(200, 100%, 30%);
    }
  }
}

footer {
  background: hsl(240, 19%, 12%);
}

td > a {
  color: hsl(212, 13%, 57%);

  &:hover {
    color: hsl(212, 13%, 75%);
    text-decoration: none;
  }
}

.glow {
  font-size: 1em;
  border-radius: 12px;
  padding: 1em;
  box-shadow: 0 0 15px 2px hsl(255, 80%, 52%),
    inset 0 0 10px 2px hsl(255, 80%, 52%);
  -webkit-animation: glow 2s infinite ease-in-out;
  animation: glow 2s infinite ease-in-out;
}

@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 15px 2px hsl(255, 80%, 52%),
      inset 0 0 10px 2px hsl(255, 80%, 52%);
  }
  50% {
    box-shadow: 0 0 15px 5px hsl(255, 80%, 52%),
      inset 0 0 10px 2px hsl(255, 80%, 52%);
  }

  100% {
    box-shadow: 0 0 15px 2px hsl(255, 80%, 52%),
      inset 0 0 10px 2px hsl(255, 80%, 52%);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 15px 2px hsl(255, 80%, 52%),
      inset 0 0 10px 2px hsl(255, 80%, 52%);
  }
  50% {
    box-shadow: 0 0 15px 5px hsl(255, 80%, 52%),
      inset 0 0 10px 2px hsl(255, 80%, 52%);
  }

  100% {
    box-shadow: 0 0 15px 2px hsl(255, 80%, 52%),
      inset 0 0 10px 2px hsl(255, 80%, 52%);
  }
}

.testimonial-card {
  position: relative;
  overflow: hidden;

  &#learnapp-testimonial {
    position: static;
    left: 0%;

    @include md-devices {
      position: relative;
      left: 50%;
    }
  }

  span {
    position: absolute;
    height: 2px;
    width: 2px;

    &:nth-of-type(1) {
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(to right, transparent, white);
      transform: translateX(-100%);
      -webkit-animation: left-to-right 2s linear infinite;
      animation: left-to-right 2s linear infinite;
    }

    &:nth-of-type(2) {
      height: 100%;
      top: 0;
      right: 0;
      position: absolute;
      background: linear-gradient(to bottom, transparent, white);
      transform: translateY(-100%);
      -webkit-animation: top-to-bottom 2s linear infinite 1s;
      animation: top-to-bottom 2s linear infinite 1s;
    }

    &:nth-of-type(3) {
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(to left, transparent, white);
      transform: translateX(100%);
      -webkit-animation: right-to-left 2s linear infinite;
      animation: right-to-left 2s linear infinite;
    }

    &:nth-of-type(4) {
      height: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(to top, transparent, white);
      transform: translateY(100%);
      -webkit-animation: bottom-to-top 2s linear infinite 1s;
      animation: bottom-to-top 2s linear infinite 1s;
    }
  }
}

@-webkit-keyframes left-to-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes left-to-right {
  to {
    transform: translateX(100%);
  }
}

@-webkit-keyframes top-to-bottom {
  to {
    transform: translateY(100%);
  }
}

@keyframes top-to-bottom {
  to {
    transform: translateY(100%);
  }
}

@-webkit-keyframes right-to-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes right-to-left {
  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes bottom-to-top {
  to {
    transform: translateY(-100%);
  }
}

@keyframes bottom-to-top {
  to {
    transform: translateY(-100%);
  }
}

#btnProjects {
  display: grid;
  place-items: center;

  a {
    color: white;
    position: relative;
    overflow: hidden;

    &:hover {
      color: white;
      text-decoration: none;

      &::before {
        transform: translateX(100%);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
      clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
      background-color: hsla(255, 80%, 52%, 0.3);
      transform: translateX(-100%);
      z-index: -10;
      transition: transform 500ms ease-in-out;
    }
  }
}

#top-button {
  right: 2em;
  bottom: 2em;
  background: hsl(225, 80%, 52%);
  width: 3.5em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  height: 3.5em;
  z-index: -1030;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  @include sm-devices {
    right: 3em;
    bottom: 3em;
  }

  @include md-devices {
    right: 4em;
    bottom: 4em;
  }

  a {
    all: unset;
    cursor: pointer;
  }

  .tooltip {
    color: white;
  }
}

#bmc-wbtn {
  right: 2.5em!important;
  bottom: 2.5em!important;
}