* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin sm-devices {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin md-devices {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg-devices {
  @media screen and (min-width: 992px) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 1.5em;
  text-align: center;
}

.nav-link {
  color: rgba(#ffffff, .5);

  &:not(.active):hover {
    color: #ffffff !important;
  }
}

main, section {
  width: 100%;
}

#about-me {
  padding: 0 4rem;

  #my-photo {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: .5em solid grey;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.8);

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  #about-me-desc {
    max-width: 50%;
  }

  button {
    padding: .35em 1.75em;
    color: white;
    background-color: var(--bg-color);
    border-radius: 2em;
    transition: color 200ms ease-in-out 50ms,
            background-color 200ms ease-in-out 50ms;

    &#btn-cv {
      border: 2px solid var(--my-blue);

      &:hover {
        background-color: var(--my-blue);
      }
    }

    &#btn-contact {
      border: 2px solid white;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3em;

    .grid-item {
      display: flex;
      align-items: flex-start;

      .skill-img {
        margin: 1em;
        width: 32px;
        height: 32px;
      }

      .skill-header {
        margin-top: .4em;
      }
    }
  }
}

h4.section-heading {
  color: white;
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  font-weight: bold;

  &::before, &::after {
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::before {
    background-color: var(--my-grey);
    width: 100%;
  }

  &::after {
    background-color: var(--my-blue);
    width: 25%;
  }
}