@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color: rgba(34,34,34,255);
    --fg-color: rgba(245,245,245,255);
    --my-blue: rgba(0,124,237,255);
    --my-grey: rgba(68,68,68,255);
    --white-secondary: #e9e9e9;
}

body {
    background-color: var(--bg-color);
}